<ion-view view-title="Crear Inventario - Desa">
  <ion-content ng-controller="CrearInventarioCtrl">

  		<br>
      	<h1 style="margin-left:14px;">Crear Inventario: </h1>
      	<br>



      	<div class="list">

		  	<label class="item item-input item-select">
			    <div class="input-label">
			      	Lightsaber
			    </div>
			    <select>
				    <option>Blue</option>
				    <option selected>Green</option>
				    <option>Red</option>
			    </select>
		  	</label>

		</div>


  </ion-content>
</ion-view>