<ion-view view-title="Inventario - Desa">
  <ion-content ng-controller="InventarioCtrl">


      <br>

      <h4 style="text-align:center;{{show_hide_sinc_info}}"> Sincronizados {{ sincronizados_init }} productos... de {{ sincronizados_fin }} </h4>

      <center> 
          <button class="button button-outline button-balanced" ng-click="sincronizar();"> 
              Sincronizar Productos 
          </button> 
      </center>
      
  		<br>

    	<h1 style="margin-left:14px;">Inventario: </h1>

    	<br>

      <div class="list">

          <label class="item item-input item-stacked-label">
              <span class="input-label">Ingresar código del producto:</span>
              <input type="text" autofocus id="codigo_barra" ng-model="codigo_barra" name="codigo_barra" ng-keyup="buscar_producto(codigo_barra)">
          </label>

          <label class="item item-input item-stacked-label">
              <span class="input-label">Glosa del producto:</span>
              <input type="text" ng-model="glosa" id="glosa" value="{{glosa}}">
          </label>

          <label class="item item-input item-stacked-label">
              <span class="input-label">Cantidad:</span>
              <input type="number" ng-model="cantidad" id="cantidad" value="{{cantidad}}">
          </label>

          <button class="button button-block button-positive" ng-click="guardar_inventario()">Guardar Interno</button>

          <br>

          <button class="button button-block button-balanced" ng-click="subir_erp()">Subir A ERP</button>

      </div>




  </ion-content>
</ion-view>
